html {
  height: 100%;
}
iframe {
  width: inherit;
  height: auto;
  min-height: 320px;
  min-width: 480px;
}
p object,
p embed {
  min-width: 480px;
  min-height: 320px;
  width: 100%;
  height: auto;
}
article {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
blockquote {
  border-left: 1px dashed #808080;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  color: #808080;
}
blockquote p {
  margin-left: 30px;
}
body {
  height: 100%;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #000;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}
a {
  color: #bb3126;
}
a:hover,
a:visited {
  color: #6e1d16;
}
#header:hover {
  color: #6e1d16;
  cursor: pointer;
  border-bottom: 3px solid #6e1d16;
}
footer {
  min-height: 100px;
  margin-top: 60px;
  background-color: #330d0a;
  color: #fff;
  position: relative;
  clear: both;
}
p {
  margin: 0;
  padding: 0;
}
p + p {
  margin-top: 30px;
}
p + div,
pre {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  font-family: "Source Code Pro", monospace !important;
  font-size: 12px;
  color: #808080;
  line-height: 18px;
}
code {
  font-family: "Source Code Pro", monospace !important;
  font-size: 12px;
  color: #808080;
}
ul,
ol {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
li + li {
  margin-top: 0.5em;
}
b,
strong {
  font-weight: bold;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
#map {
  height: 320px;
  width: 480px;
  border: 2px solid #000;
}
#map img {
  max-width: inherit !important;
}
.olControlAttribution {
  display: none !important;
}
.olButton {
  background-color: #000 !important;
}
.social-icons {
  margin-top: 1em;
}
.social {
  min-width: 8px;
  min-height: 8px;
  max-width: 32px;
  max-height: 32px;
  float: none;
  margin: 5px;
}
.social:first {
  margin-left: 0px;
}
.paginate {
  padding-top: 60px;
}
.page_number {
  margin-left: 30px;
  margin-right: 30px;
}
div.content {
  max-width: 800px;
}
div.embed {
  margin-top: 30px;
  margin-bottom: 30px;
}
div.content h1 {
  font-size: 24px;
  line-height: line_height_big;
}
div.date {
  color: #808080;
}
div.metadata {
  padding-bottom: 30px;
}
h2.title {
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}
div#header {
  font-size: 48pt;
  line-height: 1em;
  border-bottom: 3px solid #000;
  font-weight: bold;
}
div#top {
  min-height: 100%;
}

