.social {
	min-width: 8px;
	min-height: 8px;
	max-width: 32px;
	max-height: 32px;
	margin-top: 1.5em;
	float:none;
	padding: 5px;
}

.menu {
	margin-top: 1.5em;
}

.navigation {
	margin-bottom: 3em;
}

div.content {
	max-width: 800px;
}

div.date {
	color: gray;
}

h2.title {
	border-bottom: 2px dashed black;
	font-size: inherit;
}

object, embed, iframe {
	min-width: 480px;
	min-height: 320px;
	width: 100%;
	height: auto;
}

article {
	margin-top: 3em;
	margin-bottom: 3em;
}

blockquote{
	border-left: 1px solid darkgray;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	color: gray;
}

body {
	font-size: 20px;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Lato", Arial, sans-serif;
	line-height: 1.5em;
	color: black;
}

header {
	cursor: pointer;
}

h1 {
	font: 48pt Georgia, serif;
}

p + p {
	margin-top: 1.5em;
}

ul, ol {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	list-style-position: inside;
}

li {
	line-height: 1.5em;
}

li + li {
	margin-top: 0.5em;
}