body {
	font-family: Helvetica, Arial;
	color: #16161D;
}

h1 {
	font-size: 3em;
	line-height: 2em;
	margin: 0 50;
}

.center {
	text-align: center;
}

p.text {
	
	font-size: 20px;
	line-height: 30px;
	max-width: 600px;
	margin: 1.5em 50;
}

div.footer {
	margin: 1.5em 0;
}

a {
	color: darkblue;
}

div.info {
	height: 20em;
	width: 16em;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #16161d;
	border-left: 1px solid #16161d;;
	padding: 20px;
	font-size: 16px;
}

div.info-headline {
	font-weight: bold;
}

rect.player:hover {
	stroke: black;
}

line.separator {
	stroke: #aaa;
	stroke-width: 0.5;
}

text.round {
	font-size: 20px;
}