# rewrite from old html files
RewriteEngine On
RewriteRule ^/([0-9]{4})/([0-9]{2})/(.+)\.html$ http://nikolaus-piccolotto.info/$1/$2/$3 [L,R]

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

# content negotiation
Options +MultiViews

# adaptive images begin
Options +FollowSymlinks

# ignore these directories
RewriteCond %{REQUEST_URI} !img
RewriteCond %{REQUEST_URI} !ai_cache

# send requests to images to adaptive-images
RewriteRule /.(?:jpeg?g|gif|png)$ adaptive-images.php

# adaptive images end