body {
	font-family: 'PT Serif', serif;
	font-weight: 400;
	background-color: #E9EBD4;
}

#description {
	top:5%;
	margin-left:50px;
	float:left;
	width:30%;
	height:90%;
	overflow:auto;
	line-height:1.5em;
}
#example {
	top:5%;
	float:left;
	line-height:1.5em;
	margin-left:50px;
	width:60%;
	height:90%;
}
#chart_one {
	border: solid 1px white;
	overflow:hidden;
	height:70%;
	width:80%;
}

h1,h3 {
	font-weight: 700;
}

input {
}