		</div> <!-- content -->
	</div> <!-- row -->
</div> <!-- viewport -->
<footer class="centered">
	<div class="row">
		<div>
			<a href="#header">Wieder nach oben</a> / <a href="{{ site.url }}/impressum">Impressum</a>		
		</div>
	</div>
</footer>

<!-- if in production, inject code here. if in development, just reference code file -->


	<script type="text/javascript">var host="//npiccolotto.com",header=document.getElementById("header");header.addEventListener("click",function(){window.location.href=host},!1);</script>


</body>
</html>