<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.host }}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.host }}css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ site.host }}css/bootstrap-responsive.min.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.host }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.host }}js/code.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
</head>
<body>

<div class="row-fluid menu">
	<div class="span2 visible-desktop"></div>
	<div class="span6">
		<header>
			<h1>Nikolaus Piccolotto</h1>
			<h2>Media Computer Science student</h2>
		</header>
	</div>
	<div class="span4">
		<!-- social icons-->
		<a href="https://twitter.com/#!/prayerslayer" id="twitter" title="Twitter"><img  class="social" src="{{ site.host }}img/twitter-small.png"></a>
		<a href="https://github.com/prayerslayer"><img class="social" title="GitHub" src="{{ site.host }}img/octocat-small.png" ></a>
		<a href="https://soundcloud.com/prayerslayer"><img class="social" title="SoundCloud" src="{{ site.host }}img/soundcloud-small.png"></a>
	</div>
</div>

<!-- site navigation -->
<div class="row-fluid navigation">
	<div class="span2 visible-desktop"></div>
	<div class="span4">
		<a href="{{ site.host }}" class="active">Blog</a> / <a href="{{ site.host }}cv.html">CV</a> / <a href="{{ site.host }}projects.html">Projects</a>
	</div>
</div>