<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="{{ site.host }}/img/favicon.png" />
	<link rel="stylesheet" type="text/css" href="{{ site.host }}/css/stylesheet.css">
	<link rel="alternate" type="application/rss+xml" title="Nikolaus Piccolotto" href="{{ site.host }}/feed.xml" />
	
	<!-- cookie für adaptive images setzen -->
	<script>
		document.cookie = 'resolution=' + (screen.width > screen.height ? screen.width : screen.height) +'; path=/';
	</script> 

	<!-- meta tags-->
	<meta name="description" content="Schreibt Websites und Software. Lebt in Dresden." />
	{{% if site.keywords %}}
	<meta name="keywords" content="{{ page.keywords }}" />
	{{% endif %}}

	<meta property="og:title" content="Nikolaus Piccolotto" />
	<meta property="og:description" content="Schreibt Websites und Software. Lebt in Dresden." />
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>{{ page.title }} / Nikolaus Piccolotto</title>

	<!-- google analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1467145-5']);
		_gaq.push(['_setSiteSpeedSampleRate', 100]);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>

<div id="top">

	<div class="grid grid-pad">
		<div class="col-8-12">
			

			<header>
				<div id="header">Nikolaus Piccolotto</div id="header">
				<div class="social-icons">
					<!-- social icons-->
					<a href="mailto:hallo@nikolaus-piccolotto.info"><img src="{{ site.host }}/img/email_small.png" title="Email" class="social" alt="Email"/></a>
					<a href="http://www.linkedin.com/pub/nikolaus-piccolotto/36/89b/426"><img class="social" title="LinkedIn" src="{{ site.host }}/img/linkedin-small.png"/></a>
					<a href="https://twitter.com/#!/prayerslayer"><img title="Twitter" class="social" src="{{ site.host }}/img/twitter-small.png"/></a>
					<a href="https://github.com/prayerslayer"><img class="social" title="GitHub" src="{{ site.host }}/img/octocat-small.png" /></a>
					<a href="http://www.flickr.com/photos/prayerslayer/"><img class="social" title="Flickr" src="{{ site.host }}/img/flickr-small.png"/></a>
					<a href="https://soundcloud.com/prayerslayer"><img class="social" title="SoundCloud" src="{{ site.host }}/img/soundcloud-small.png"/></a>
				</div>
			</header>
		</div>
		
	</div>

	<!-- site navigation <h2 id="slogan">Ich schreibe Websites & Software.</h2> -->
	<div class="grid grid-pad navigation">
		<div class="col-8-12">
			<a href="{{ site.host }}/">Blog</a> / <a href="{{ site.host }}/cv">CV</a> / <a href="{{ site.host }}/projects">Projekte</a>
		</div>
	</div>