<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="{{ site.host }}/img/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.host }}/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ site.host }}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ site.host }}/css/bootstrap-responsive.min.css">
	

	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.host }}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.host }}/js/code.js"></script>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ page.title }}</title>
</head>
<body>

<div class="row-fluid menu">
	<div class="span2 visible-desktop"></div>
	<div class="span5">
		<header>
			<h1>Nikolaus Piccolotto</h1>
			<h2>I'm a developer. I build things.</h2>
		</header>
	</div>
	<div class="span5">
		<!-- social icons-->
		<a href="http://www.linkedin.com/pub/nikolaus-piccolotto/36/89b/426"><img class="social" title="LinkedIn" src="{{ site.host }}/img/linkedin-small.png"/></a>
		<a href="https://twitter.com/#!/prayerslayer" id="twitter" title="Twitter"><img  class="social" src="{{ site.host }}/img/twitter-small.png"/></a>
		<a href="https://github.com/prayerslayer"><img class="social" title="GitHub" src="{{ site.host }}/img/octocat-small.png" /></a>
		<a href="http://www.flickr.com/photos/prayerslayer/"><img class="social" title="Flickr" src="{{ site.host }}/img/flickr-small.png"/></a>
		<a href="https://soundcloud.com/prayerslayer"><img class="social" title="SoundCloud" src="{{ site.host }}/img/soundcloud-small.png"/></a>
	</div>
</div>

<!-- site navigation -->
<div class="row-fluid navigation">
	<div class="span2 visible-desktop"></div>
	<div class="span4">
		<a href="{{ site.host }}/" class="active">Blog</a> / <a href="{{ site.host }}/cv.html">CV</a> / <a href="{{ site.host }}/projects.html">Projects</a>
	</div>
</div>