<div class="row-fluid pagination">
  <div class="span4 visible-desktop"></div>
  <div class="span4">
    {% if paginator.next_page %}
      <a href="{{ site.host }}/page{{paginator.next_page}}" class="next ">Older</a>
    {% endif %}

    <span class="page_number ">Page {{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.host }}" class="previous">Newer</a>
      {% else %}
        <a href="{{ site.host }}/page{{paginator.previous_page}}" class="previous">Newer</a>
      {% endif %}
    {% endif %}
  </div>
 
</div>