body {
	font: 20px HelveticaNeue, Helvetica, Arial, sans-serif;
	line-height: 28px;
}

#wrapper {
	min-height: 100%;
	padding: 10px;
}

#top {
	padding: 20px;
}

#results {
	border-top: 1px solid black;
	padding: 20px;
	width: 1140px;
	display: none;
}

#footer {
	background-color: black;
	color: white;
	height: 50px;
	padding: 50px;
}

#spinner {
	display: none;
}

img#logo {
	width: 80%;
	margin-left: 10%;
}

#belowlogo {
	text-transform: uppercase;
	font-size: 30px;
}

a#link {
	color: #900;
	font-size: 14px;
}

div.text {
	font-size: 14px;
	line-height: 18px;
}

span {
	padding-left: 30px;
}

#hero {
	height: 400px;
	border: 1px solid black;
	padding: 50px;
	margin-top: 50px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

#hero .subtitle {
	font: 36px/48px Georgia;
}

#hero .title {
	font-size: 48px;
	line-height: 72px;
	color: #333;
	font-weight: 700;
}

