@import "variables";

header.header {
    margin-top: @margin-smaller;
    margin-bottom: @margin-big;

    .header-name {
        text-align: center;
        margin-bottom: @margin-small;
        > a {
            color: @black;
        }
    }

    .header-social,
    .header-navigation {
        text-align: center;
        line-height: @line-height;
        font-size: @font-size-small;
        margin-bottom: @margin-small;
    }
}