{{ define "main" }}
<!--
<p>
 TODO: maybe add a list of things i can do or reasons why somebody should get in contact.
maybe even a list of issues they may have and i can help solve? like ohh we have so much data
but it's so difficult to get any knowledge out of it or use it in any way. 
</p>
-->
<h5>Curriculum Vitae</h5>
<p>
  Currently I am employed as a postdoctoral researcher at TU Wien. I also worked
  as a software engineer in the steel (voestalpine), fine arts (Artory), and
  fashion (Zalando) industries.
</p>
<table>
  <tbody>
    <tr>
      <td>2025–</td>
      <td>Vienna</td>
      <td>Postdoctoral researcher at TU Wien</td>
    </tr>
    <tr>
      <td>2024–2025</td>
      <td>Vienna</td>
      <td>Frontend Engineer at voestalpine digital solutions</td>
    </tr>
    <tr>
      <td>2019–2024</td>
      <td>Vienna</td>
      <td>Ph.D. at TU Wien</td>
    </tr>
    <tr>
      <td>2017–2019</td>
      <td>Berlin</td>
      <td>Frontend Engineer at Artory GmbH</td>
    </tr>
    <tr>
      <td>2014–2017</td>
      <td>Berlin</td>
      <td>Frontend Engineer at Zalando SE</td>
    </tr>
    <tr>
      <td>2008–2013</td>
      <td>Dresden</td>
      <td>Diploma in media computer science</td>
    </tr>
  </tbody>
</table>

{{ end }}
