<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Nikolaus Piccolotto</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/chroma.css" />

  <meta name="theme-color" content="#fafafa">
</head>