blockquote {
    font-family: Georgia, serif;
    border: none;
    border-left: 1px dashed black;
    margin: 1.5em 0em 1.5em 0em;
    padding-left: 3em;
    font-style: italic;
    background-color: white;
}

body {
    font-family: HelveticaNeue, Verdana, sans-serif;
    max-width: 600px;
    left: 30%;
    position: relative;
}

h3 {
    font-family: inherit;
    text-align: center;
    font-size: 2em;
    line-height: 3em;
    border-bottom: 1px solid black;
}

body > b:first-of-type {
    font-weight: normal;
    text-align: left;
    font-size: 0.8em;
}

body > p:first-of-type {
    text-align: left;
    font-size: .8em;
}

li > a:first-child {
    background-color: black;
    color: black;
    left: -5%;
    top: 0.5em;
    position: relative;
}

li ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

li, li p {
    font-family: inherit;
    position: relative;
    line-height: 2em;
    font-size: 1em;
    background-color: white;
}

pre {
    font-family: Courier, monospace;
    font-size: 0.8em;
    border: none;
    border-left: 1px dashed black;
    margin: 1.5em 0em 1.5em 0em;
    padding-left: 3em;
    background-color: white;
}

h2 {
    text-align: center;
    font-size: 3em;
    line-height: 4.5em;
    font-family: inherit;
}

