{% include header.html %}



	{% for post in site.posts %}
		{% if post.category == page.category %}
			<article>
				<div class="article-content">
				  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
				  {% if post.image %}
				  	<a class="permalink" href="{{ post.url }}">
				  		<img src="{{ post.image }}" class="project-image" />
				  	</a>
				  {% else %}
				  	{% if post.video %}
				  		{% oembed {{ post.video }} %}
				  	{% else %}
					  	<p>
					  		{{ post.excerpt }}
					  	</p>
				  	{% endif %}
				  {% endif %}
			  	</div>
			</article>
		{% endif %}
	{% endfor %}

{% include footer.html %}